{% extends 'base.html.twig' %}

{% block title %}Pessoas index{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index_app') }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index_app') }}
{% endblock %}

{% block body %}
    <h1>Pessoas index</h1>
    <audio id="minhaMusica" autoplay>
        <source src={{ asset("build/music/disney.mp3") }} type="audio/mpeg">
        Seu navegador não suporta o elemento de áudio.
    </audio>
    {% if app.user %}
        <div class="profile-container">
            <img src={{asset("build/images/cat_perfil.jpeg")}} alt="Perfil" class="profile-image" id="profile-image">
            <div class="menu hidden" id="menu">
                <a href={{ logout_path() }} id="logout-link">Logout</a>
            </div>
        </div>
        {% if app.user.roles.0 == "ROLE_ADMIN" %}
            <a href="{{ path('app_pessoas_new') }}"><button class="btn btn-outline-success">Create new</button></a>
        {% else %}
            <a href="{{ path('app_change_to_admin') }}"><button class="btn btn-outline-success">Become admin</button></a>
        {% endif %}
    {% else %}
        <a href="{{ path('app_login') }}"><button class="btn btn-outline-success">login</button></a>
    {% endif %}
    <input id="search" placeholder="cpf, nome ou data ..."/>
    <table class="table" id="pessoas-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>CPF</th>
                <th>Nome</th>
                <th>Nascimento</th>
                <th id="action">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.id }}</td>
                <td>{{ pessoa.cpf }}</td>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.nascimento ? pessoa.nascimento|date('Y-m-d') : '' }}</td>
                <td>
                    <div id="show-edit">
                    <a href="{{ path('app_pessoas_show', {'id': pessoa.id}) }}"><button class="btn btn-outline-info">show</button></a>
                    {% if app.user %}
                        {% if app.user.roles.0 in ["ROLE_NORMAL_USER", "ROLE_ADMIN"] %}
                            <a href="{{ path('app_pessoas_edit', {'id': pessoa.id}) }}"><button class="btn btn-outline-dark">edit</button></a>
                        {% endif %}
                    {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
