{% extends 'base.html.twig' %}

{% block title %}Pessoas{% endblock %}

{% block body %}
    <h1>Pessoas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pessoa.id }}</td>
            </tr>
            <tr>
                <th>Cpf</th>
                <td>{{ pessoa.cpf }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ pessoa.nome }}</td>
            </tr>
            <tr>
                <th>Nascimento</th>
                <td>{{ pessoa.nascimento ? pessoa.nascimento|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pessoas_index') }}">back to list</a>

    <a href="{{ path('app_pessoas_edit', {'id': pessoa.id}) }}">edit</a>

    {{ include('pessoas/_delete_form.html.twig') }}
{% endblock %}
